{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row divider blue">
   <div class="col-md-12"></div>
</div>
<div class="row banner main">
   <div class="col-md-1"></div>
   <div class="col-md-11 padding-none">
      <h1>Restaurants</h1>
   </div>
</div>
<div class = 'flash'>
   {% with messages = get_flashed_messages() %}
   {% if messages %}
   <ul>
      {% for message in messages %}
      <li> <strong> {{ message }} </strong> </li>
      {% endfor %}
   </ul>
   {% endif %}
   {% endwith %}
</div>
<div class="row padding-top" id="result">
   <div class="col-md-3"></div>
   <div class="col-md-6">
      <div class="text-center">
         <h2>Login</h2>
      </div>
      <div id="signInButton" class="padding-top">
         <center>
            <span class="g-signin"
               data-scope="openid email"
               data-clientid="497173802888-t8amdpk0ogvkb3e2j2v5n73ki5nn05qe.apps.googleusercontent.com"
               data-redirecturi="postmessage"
               data-accesstype="offline"
               data-cookiepolicy="single_host_origin"
               data-callback="signInCallback"
               data-approvalprompt="force">
            </span>
         </center>
      </div>
      <center>
      <div class="fb-login-button padding-top"
           data-max-rows="1"
           data-size="xlarge"
           data-show-faces="false"
           data-auto-logout-link="false"
           data-scope="public_profile,email"
           onlogin="sendTokenToServer();">Sign In
      </div>
      </center>
   </div>
</div>
<script>
   function signInCallback(authResult) {
     if (authResult['code']) {
       // Hide the sign-in button now that the user is authorized
       $('#signinButton').attr('style', 'display: none');
       // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
       $.ajax({
         type: 'POST',
         url: '/gconnect?state={{STATE}}',
         processData: false,
         data: authResult['code'],
         contentType: 'application/octet-stream; charset=utf-8',
         success: function(result) {
           // Handle or verify the server response if necessary.
           if (result) {
             $('#result').html('<center>Login Successful!</br>'+ result + '</br>Redirecting...</center>')
             setTimeout(function() {
               window.location.href = "/restaurant";
             }, 2000);
           }
           else if (authResult['error']) {
             console.log('There was an error: ' + authResult['error']);
           }
           else {
             $('#result').html('Failed to make a server-side call. Check your configuration and console.');
           }
         }

     }); } }
</script>

<!--FACEBOOK SIGN IN -->
<script>
  window.fbAsyncInit = function() {
  FB.init({
    appId      : '293289237757232',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });
  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

// Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function sendTokenToServer() {
    var access_token = FB.getAuthResponse()['accessToken'];
    console.log(access_token)
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
     $.ajax({
      type: 'POST',
      url: '/fbconnect?state={{STATE}}',
      processData: false,
      data: access_token,
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('<center>Login Successful!</br>'+ result + '</br>Redirecting...</center>')
         setTimeout(function() {
          window.location.href = "/restaurant";
         }, 4000);

      } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }

  });
    });
  }

</script>
{% endblock %}
